<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<ul>
    <h1>Users list:</h1>
     {{range $name, $status := .Users }}
        {{if eq  $status "Block" }}
        <li>
            <form action="/api/user/unblock" method="post" class="form-example">
                <div class="form-example">
                    <label><a href="/api/token/{{ $name }}">{{ $name }}: </a></label>
                    <input type="text" name="username" value="{{ $name }}" hidden="hidden">
                    <input type="submit" value="activate user">
                </div>
            </form>
        </li>
        {{end}}
        {{if eq $status "Active" }}
        <li>
            <form action="/api/user/block" method="post" class="form-example">
                <div class="form-example">
                    <label><a href="/api/token/{{ $name }}">{{ $name }}: </a> </label>
                    <input type="text" name="username" value="{{ $name }}" hidden="hidden">
                    <input type="submit" value="block user">
                </div>
            </form>
        </li>
        {{end}}

    {{end}}
</ul>

</body>
</html>